<a href="https://colab.research.google.com/github/dome634/2001206099_ECE/blob/main/ECE_04_02_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#using arithmetic operators and comparision operators.
a=5
b=2
print('a/b=',a/b)
print('a//b=',a//b)
print('a**b=',a**b)
print('a<b=',a<b)
print('a>b=',a>b)

a/b= 2.5
a//b= 2
a**b= 25
a<b= False
a>b= True

In [3]:
#using logical operators
a=True
print('not A=',not a)
b=False
print('not B=',not b)

not A= False
not B= True

In [5]:
#using Bitwise Operator.
a=3
b=2
c=a<<b
print('a<<b',c)

a<<b 12

In [6]:
#using identify operator(is and is not).
a=5
b=5
print('a is b',a is b)
print('a is not b',a is not b)
x='CSE'
y='ECE'
print('x is y', x is y)
print('x is not y', x is not y)

a is b True
a is not b False
x is y False
x is not y True

In [16]:
#using Membership operator.
a='HELLO ECE'
print('A in a=', a in 'A')
print('H in a=', 'H' in a)

A in a= False
H in a= True

In [23]:
num=int(input("enter the number"))
if num%2 == 0:
  print("Number is even")
else:
  print("Number is odd")

enter the number77
Number is odd

In [25]:
#using if ..elif statement
number=int(input("Enter a number"))
if number==10:
  print("number is equals to 10")
elif number==50:
  print("number is equal to 50")
elif number==100:
  print("number is equal to 100")
else:
  print("numberis not equal to 10,50 or 100")

Enter a number50
number is equal to 50